body {
    margin: 0;
}

main {
    display: flex;
    min-height: 100vh;
    align-items: center;
    background: black;
    background: url('https://cdn.glitch.global/2958e2d3-8add-490e-a8a7-6af6c2bc0b6f/jr-korpa-neon_1920x1080.jpeg?v=1656974404248');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1, h2, p, a {
    font-family: 'DM Sans', sans-serif;
}

h1 {  
    font-weight: 700;
    font-size: 2rem;
    margin-top: 0;
}

h1, h2, p {
    text-align: center;
}

p {
    font-weight: 400;
    font-size: 1.2rem;
}

.neon {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 80vw;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    margin: 50px;
    padding: 50px 20px;
    margin: auto;
    color: #ffffff;
    border-radius: 5px;
    border-color: #ffffff;
    box-shadow: 0 0 10px 0 #fff,
                0 0 20px 0 #f0f,
                0 0 30px 0 #0ff;
}

a {
    color: white;
    text-decoration: none;
    margin: 1em auto 0;
    display: block;
    width: fit-content;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}